.unitCase {
  -fx-background-color: 
       -fx-shadow-highlight-color, 
       -fx-outer-border, 
       -fx-inner-border, 
       -fx-body-color;
  -fx-background-insets: 0 0 -1 0, 0, 1, 2;
  -fx-background-radius: 40px, 100px, 0px, 0px;
}

#canMove {
	-fx-background-color: orange;
}

#dead {
	-fx-background-color: grey;
}

#endedTurn {
	-fx-background-color: white;
}

#markable {
	-fx-background-color: yellow;
}

#ability {
	-fx-background-color: Aquamarine;
}